<main>
    <style>
  body{
    background-color: whitesmoke;
  }
  h3{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  a{
    text-decoration: none;
    font-size: 1.2rem;
    color: orangered;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
  }
  .container{
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 40px;
  }
  .container .arriba{
    padding-bottom: 20px;
  }
  
  table{
  }
  table th{
    border: 2px solid black;
  }
  table td{
    border: 2px solid black;

  }

</style>
<div class="container">
  <div class="arriba">
  <h3>Bienvenido al Equipo Directivo</h3>
  <a href="/add-equipo-directivo">Agregar directivo</a>
</div>



{{#if equipoDirectivo}}
        <table style="width: 70vw;">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Cargo</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {{#each equipoDirectivo}}
              <tr>
                <td>{{Nombre}}</td>
                <td>{{Apellido}}</td>
                <td>{{Cargo}}</td>
                <td>
                    <a href="/edit-equipo-directivo/{{idDirectivo}}">Editar</a>
                    <a href="/delete-equipo-directivo/{{idDirectivo}}">Borrar</a>
                </td>
              </tr>
            {{/each}}

          </tbody>
        </table>
    {{else}}
        <div>
          <h3>Debes crear una novedad</h3>
  
          <p>Presiona este boton para que puedas registrar una novedad</p>
          <a href="/add-equipo-directivo">Ir a crear</a>
        </div>
{{/if}}
</div>
</main>